# Dependências (são muito pesadas e baixadas via npm install)
node_modules/

# Arquivo de variáveis de ambiente (CONTÉM SUAS SENHAS!)
.env

# Logs de erro e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pastas de build/dist (se você usar algum framework de front-end)
dist/
build/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db